.vscode/**
README.md
README.zh-cn.md
src/**
**/*.map
**/*.d.ts
**/*.d.ts.map
tsconfig.json
.github/**
.gitignore
.nvmrc
.oxlintrc.json
.oxfmtrc.json
*.vsix
.vscode-test/
.dev/**
docs/**
dist/**
package-lock.json
.DS_Store
.env*
!.env.example
vscode.proposed.languageModelThinkingPart.d.ts
